<div class="div"></div>


<div *ngIf="urlVideo">
    <iframe width="1238" height="400" frameborder="0" [src]="urlVideo" allowfullscreen></iframe>
</div>
<br><br>

<div class="content-category" *ngIf="anime">
    <div class="row div-container-category">
        <div class="col-12 col-md-8 col-lg-8">
            <div class="col-12 m-0 d-flex justify-content-between">
                <h5 class="titleAnime" (click)="onAnimeClick(anime.name, anime._id)">{{anime.name}}</h5>
                <div class="icon-cap-anime">
                    <div class="icon" *ngIf="!decodedToken" (click)="toggleModal($event)">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                    <div class="icon" *ngIf="decodedToken && !isAnimeInFavorites" (click)="addFavoriteAnime($event, anime._id)">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                    <div class="icon1" *ngIf="decodedToken && isAnimeInFavorites" (click)="removeFavoriteAnime($event, anime._id)">
                        <i class="fa-regular fa-bookmark "></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="parrafo">{{anime.description}}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-5">
                    Audio
                    <hr>
                </div>
                <div class="col-7 text-right">
                    Japones
                    <hr>
                </div>
            </div>
            <div class="row  mt-2">
                <div class="col-5 ">
                    Subtítulos
                    <hr>
                </div>
                <div class="col-7 text-right">
                    Español
                    <hr>
                </div>

            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <div *ngIf="checkNextEpisodeAvailable()" class="mb-2">
                SIGUIENTE EPISODIO <br>

                <div class="containerRight mt-2" (click)="navigateToEpisode(anime.name, numeroEpisodio+1 )">
                    <img *ngIf="anime.name == 'Sword Art Online'"
                        src="../../../assets/css/img/Capturas de episodios/Sword Art Online/Sword Art Online Episodes.webp"
                        alt="">
                    <img *ngIf="anime.name == 'Captain Tsubasa'"
                        src="../../../assets/css/img/Capturas de episodios/Captain Tsubasa/Captain Tsubada Episodes.jpe"
                        alt="">
                    <img *ngIf="anime.name == 'Dragon Ball Z'"
                        src="../../../assets/css/img/Capturas de episodios/Dragon Ball Z/Dragon Ball Z Episodes.jpe"
                        alt="">
                    <img *ngIf="anime.name == 'Inazuma Eleven'"
                        src="../../../assets/css/img/Capturas de episodios/Inazuma Eleven/Inazuma Eleven Episodes.jpg"
                        alt="">
                    <img *ngIf="anime.name == 'Kimetsu no Yaiba'"
                        src="../../../assets/css/img/Capturas de episodios/Kimetsu no Yaiba/Kimetsu Episodes.jpeg"
                        alt="">
                    <img *ngIf="anime.name == 'Naruto Shippuden'"
                        src="../../../assets/css/img/Capturas de episodios/Naruto Shippuden/3f283002b47c62b1e5d311c45f95c97e.jpe"
                        alt="">
                    <img *ngIf="anime.name == 'Shigatsu wa Kimi no Uso'"
                        src="../../../assets/css/img/Capturas de episodios/Shigatsu wa Kimi no Uso/Shigatsu Episodes.jpg"
                        alt="">

                    Episodio #{{numeroEpisodio+1}}
                </div>
            </div>

            <div *ngIf="checkPreviousEpisodeAvailable()">
                EPISODIO ANTERIOR
                <div class="containerRight mt-2" (click)="navigateToEpisode(anime.name, numeroEpisodio-1 )">
                    <img *ngIf="anime.name == 'Sword Art Online'"
                        src="../../../assets/css/img/Capturas de episodios/Sword Art Online/Sword Art Online Episodes.webp"
                        alt="">
                    <img *ngIf="anime.name == 'Captain Tsubasa'"
                        src="../../../assets/css/img/Capturas de episodios/Captain Tsubasa/Captain Tsubada Episodes.jpe"
                        alt="">
                    <img *ngIf="anime.name == 'Dragon Ball Z'"
                        src="../../../assets/css/img/Capturas de episodios/Dragon Ball Z/Dragon Ball Z Episodes.jpe"
                        alt="">
                    <img *ngIf="anime.name == 'Inazuma Eleven'"
                        src="../../../assets/css/img/Capturas de episodios/Inazuma Eleven/Inazuma Eleven Episodes.jpg"
                        alt="">
                    <img *ngIf="anime.name == 'Kimetsu no Yaiba'"
                        src="../../../assets/css/img/Capturas de episodios/Kimetsu no Yaiba/Kimetsu Episodes.jpeg"
                        alt="">
                    <img *ngIf="anime.name == 'Naruto Shippuden'"
                        src="../../../assets/css/img/Capturas de episodios/Naruto Shippuden/3f283002b47c62b1e5d311c45f95c97e.jpe"
                        alt="">
                    <img *ngIf="anime.name == 'Shigatsu wa Kimi no Uso'"
                        src="../../../assets/css/img/Capturas de episodios/Shigatsu wa Kimi no Uso/Shigatsu Episodes.jpg"
                        alt=""> Episodio #{{numeroEpisodio-1}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="isModalVisible">
    <div class="modal-content">
      <span class="close" (click)="toggleModal($event)">&times;</span>
      <div class="image-Hinata">
        <img src="../../../assets/css/img/Hinata.png">
      </div>
      <h3>Inicia sesión o Crea una cuenta</h3>
      <p>¡Para comentar, anadir serie y peliculas a tus favoritos! Crea una cuenta de OtakuChino o inicia sesión</p>
      <div class="buttons-sesion">
        <div class="button-sesion" [routerLink]="['/iniciar-sesion']">
          INICIA SESION
        </div>
        <div class="button-sesion" [routerLink]="['/registrarse']">
          CREA UN CUENTA
        </div>
      </div>
    </div>
  </div>
  
  <app-footer-components></app-footer-components>
