

.search {
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    font-size: 30px;
    width: 70%;
    height: 55px;
    background:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px, color(white);
    border-color: white;
    transition: 0.7s;
}

input:focus{
    outline: none;
    border-color: rgb(233, 85, 233);
    transition: 0.7s;
    caret-color: white;
}

.img-60x90 {
    width: 100%;
    height: 190px;
    border-radius: 0px;
  }
.anime-search{
    cursor: pointer;
    max-width: auto;
    border-radius: none;
    border: none;
    background: NONE;
}

.container-animes-categories{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img{
    width: 280px;
    height: 160px;
}

.title-anime-search{
    display: flex;
    justify-content: center;
    text-align: center;
}


.hover-text .icon, .icon1, .icon2{
    pointer-events: auto;
  }
  .hover-text .icon2{
    pointer-events: auto;
  }
  
  
  .swiper-slide:hover .hover-text {
    opacity: 1; /* Mostrar el texto cuando se pasa el mouse sobre el swiper-slide */
  }
  
  .swiper-slide:hover .hover-text .icon, .icon1, .icon2 {
    opacity: 1; /* Mostrar el texto adicional cuando se pasa el mouse sobre el swiper-slide */
  }
  
  .container-samples a{
    padding: 7px;
    border-radius: 2px;
  }
  .icon{
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  .icon1{
    position: absolute;
    margin-left: 10px;
    bottom: 0;
    right:  71%;
  }
  .icon2{
    position: absolute;
    bottom: 0;
    right:  80%;
    z-index: 2; /* Asegura que el ícono esté por encima del contenido del main_container */
    cursor: pointer; /* Agrega un indicador de cursor para denotar que es interactivo */
  
  }
  
  .main_container {
    position: relative;
    z-index: 1; /* Asegura que el contenido del main_container esté detrás del ícono de favoritos */
    height: 100%;
  }

  .main_container .hover-text {
    position: absolute;
    top: 50%; /* Ajusta la posición verticalmente según tu diseño */
    left: 50%; /* Ajusta la posición horizontalmente según tu diseño */
    transform: translate(-50%, -50%);
    background-color: #000;/* Fondo del texto */
    color: white; /* Color del texto */
    padding: 12px;
    opacity: 0; /* Inicialmente oculto */
    pointer-events: none; /* Para que el texto no interfiera con los clics */
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    font-size: 12px;
  }
  .main_container{
    width: 100%;
  }
  .main_container:hover .hover-text {
    opacity: 1.9; /* Mostrar el texto cuando se pasa el mouse sobre el swiper-slide */
  }
  
  .main_container:hover .hover-text .icon, .icon1, .icon2 {
    opacity: 1; /* Mostrar el texto adicional cuando se pasa el mouse sobre el swiper-slide */
  }
  
  .hover-text .icong{
    font-size: 23px;
  }
  .hover-text .icong1{
    font-size: 13px;
  }