<footer class="footer">
    <div class="containerFooter">
        <div class="row mb-3 mt-5">
            <div class="col-12 col-md-4 col-lg-4 ">
                <h6>Conecta con nosotros</h6>
                <div class="col social">Instagram</div>
                <div class="col social">Facebook</div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                OtakuChino
                <div class="col mt-2 about">Contactanos</div>
                <div class="col about1">Acerca</div>
            </div>
            <div class="col-12 col-md-4 col-lg-4" *ngIf="!decodedToken">
                <div >
                    Cuenta
                    <div class="col mt-2 create"  [routerLink]="['/registrarse']">Crear Cuenta</div>
                    <div class="col start" [routerLink]="['/iniciar-sesion']">Acceder</div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="lastFooter">
            SEBASTIAN VELASQUEZ OSPINA | OtakuChino, Colombia
        </div>
    </div>
</footer>